@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Go look at some <a asp-action="Index" asp-controller="Movies">movies</a>.</p>
    <p>Maybe something by <a asp-action="Index" asp-controller="Movies" asp-route-person="Shinya Tsukamoto">Shinya Tsukamoto</a></p>
</div>
